.display-4 {
    text-align: center;
}

#jtronSub{
    text-align: center;
}

#gameBox{
    border: 1px solid rgba(0,0,0,.125);
    padding-right: 0%;
}

#memBox1{
    padding-left: 0%;
}

#bodyMem, #bodyGame{
    border: 2px solid black;
    text-align: center;
}

.gameLink{
    color: blue;
    font-size: 18px;
    font-weight: bold;
    text-decoration-style: solid;
    margin: 10px; 
    margin-top: 0;
    display: block;    
}

.error{
    display: block;
    height: 50px;
    background-color: #ffc107;
    width: 250px;
    color: red;
}

.picLink, .listingLink{
    display: block;

}



.table thead th {
    vertical-align: top;
    border-bottom: 2px solid #dee2e6;
}
