.display-4 {
    text-align: center;
}

.mainHeading {
    font-family: 'Black Ops One', cursive;
    font-size: 90px;

}

#jtronSub{
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

#headingText{
    color: whitesmoke;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    font-size: 70px;
}

#headingTextSub{
    color: whitesmoke;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
}
.teamImage{
    margin-bottom: 2px;
    border: 5px solid red;
}
#memHeading{
    color: #E53238;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 70px;
    
}
#gameBox{
    border: 1px solid rgba(0,0,0,.125);
    padding-right: 0%;
}
.tblHead{
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
    font-size: 30px;

}

#memBox1{
    padding-left: 0%;
    text-align: center;
}

#bodyMem, #bodyGame{
    border: 2px solid black;
    text-align: center;
}
#bodyGame{
    margin-bottom: 2px;
}

.gameLink{
    color: #0064D3;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    margin: 0px 10px 10px 0px; 
    display: block;    
    font-family: 'Cinzel', serif;
}

.dttmLink{
    font-family: 'Cinzel', serif;
    font-size: 18px;
    margin: 0px 10px 10px 0px; 
}

.locationLink{
    font-family: 'Cinzel', serif;
    font-size: 18px;
    margin: 0px 10px 10px 0px;
}

.error{
    display: block;
    height: 50px;
    background-color: #ffc107;
    width: 250px;
    color: red;
}

.picLink{
    box-shadow: 10px 10px 5px lightgray;
    margin-bottom: 4px;
}

.listingLink{
    font-family: 'Kalam', cursive;
    font-weight: bold;
    display: block;
    font-size: 20px;
    text-decoration: underline;
    color: #0064D3;
}

.jt2{
    margin-bottom: 0;
}


.table thead th {
    vertical-align: top;
    border-bottom: 2px solid #dee2e6;
}

#headingText{
    font-weight: bolder;
}

.jumbotron{
    background-color:#013369;
}

#root{
    text-align: center;
    font-size: 18px;
    text-align: left;
    border: 1px solid black;
    background-color: #659DBD;
    margin-bottom: 5px;
}

.forD{
    background-color: #D50A0A;
}

.h4{
text-align: center;         
}

#informBox{
    font-size: 18px;
    text-align: left;
    border: 1px solid black;
    background-color: #659DBD;
}

.jt23{
    margin-bottom: 0;
    background-color: #03b7a5;
    align-content: center;
}

#ltsBox, #tmsBox {
    text-align: center;
    background-color: white;
    height: 50px;
    font-family: 'Coming Soon', cursive;
    color: #840a03;
    font-size: 43px;
}

#statsHeading{
    font-family: 'Anton', sans-serif;
    color: whitesmoke;
}

